    <header>
        <a href='{{site.baseurl}}/'><h1>GFDRR Open Source Mentoring Guide</h1></a>
        <p>GFDRR Open Source Mentoring Guide</p>

        <p class="view"><a href="https://github.com/GFDRR/mentoring-guide">View the Project on GitHub <small>GFDRR/mentoring-guide</small></a></p>

        <ul>
            <li><a href='{{site.baseurl}}/'>Introduction</a></li>
            <li><a href='{{site.baseurl}}/tracks/'>Tracks of Study</a></li>
            <li><a href='{{site.baseurl}}/modules/'>Modules</a></li>
        </ul>

      </header>
