<header>
        <h1>GFDRR Open Source Mentoring Guide</h1>
        <p>GFDRR Open Source Mentoring Guide</p>

        <p class="view"><a href="https://github.com/GFDRR/mentoring-guide">View the Project on GitHub <small>GFDRR/mentoring-guide</small></a></p>


        <ul>
          <li><a href="https://github.com/GFDRR/mentoring-guide/zipball/master">Download <strong>ZIP File</strong></a></li>
          <li><a href="https://github.com/GFDRR/mentoring-guide/tarball/master">Download <strong>TAR Ball</strong></a></li>
          <li><a href="https://github.com/GFDRR/mentoring-guide">View On <strong>GitHub</strong></a></li>
        </ul>
      </header>
